.circle {
  width: 10em;
  height: 2.5em;
  border-radius: 50%;
  font-size: 54px;
  color: #ff6c7c;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  border: 1em solid #ff6c7c;
  background: rgb(255, 255, 255);
}

.boxCircle {
  width: 10em;
}

.boxShadow {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  border-radius: 6px;
  text-align: left;
  display: flex;
  vertical-align: middle;
  line-height: normal;
}

.circleFilled {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  font-weight: bold;
  font-size: 32px;
  line-height: 40px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ff6c7c;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  border: 3px solid #ff6c7c;
  background: rgb(255, 255, 255);
}

.boxCircleFilled {
  width: 220px;
}

.bottomLabel {
  color: #828282;
  font-size: 1em;
}

.allignMiddle {
  vertical-align: middle;
}

/* NOVO */

.circuloOutline {
  width: 7em;
  height: 7em;
  text-align: center;
  position: "relative";
}

.circuloFill {
  width: 9em;
  height: 9em;
  text-align: center;
  position: "relative";
}

.topColoredLabel {
  font-size: 1.5em;
  text-align: center;
}

.textoNoMeioDoCirculoOutline {
  left: 0;
  position: absolute;
  text-align: center;
  top: 2em;
  width: 100%;
  font-size: 2.5em;
}
