.circle {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  font-size: 54px;
  color: #ff6c7c;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  border: 3px solid #ff6c7c;
  background: rgb(255, 255, 255);
}

.circleFilled {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  font-weight: bold;
  font-size: 32px;
  line-height: 40px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ff6c7c;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  border: 3px solid #ff6c7c;
  background: rgb(255, 255, 255);
}

.topLabel {
  font-size: 20px;
  width: 160px;
}

.bottomLabel {
  color: #828282;
  width: 160px;
}
