body {
  font-family: Roboto;
}
.conhecaINEP {
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 80px;
  color: #828282;
  display: flex;
  align-items: center;
  text-align: left;
}

.hrCinza {
  /* width: 658px;
  height: 5.81px; */
  line-height: 23px;
  color: #c4c4c4;
}

.backNormal {
  background: rgb(255, 255, 255);
}

.bigX {
  font-weight: 300;
  font-size: 64px;
  line-height: 128.91%;
  /* or 82px */

  display: flex;
  align-items: center;
  text-align: center;

  color: #d3d3d3;
}

/* footer... */

.bg-cinza-escuro {
  background: #5a5a5a;
}

.fonte-doze {
  font-size: 12px;
  line-height: 14px;
}

.area-rodape .form-group .rounded-pill {
  border-radius: 10px !important;
}

@media (max-width: 575.98px) {
  .mb-xs-4 {
    margin-bottom: 1.5rem !important;
  }
}

.midWhiteHeader {
  font-family: Roboto;
  font-style: italic;
  font-weight: bold;
  font-size: 26px;
  /* line-height: 128.91%; */
  /* or 34px */

  /* display: flex; */
  align-items: center;

  color: #ffffff;
}

.littleWhiteText {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  /* line-height: 22px; */
  color: #ffffff;
}

/* NOVOOO */
.cardTitulo {
  font-style: normal;
  font-weight: bold;
  font-size: 1.5em;
  color: #1b80d4;
}

.idepAzulGrande {
  font-style: normal;
  font-weight: 900;
  font-size: 6em;
  line-height: 1em;
  color: #1b80d4;
}
.textoAzulMedio {
  font-style: normal;
  font-weight: 900;
  font-size: 3em;
  line-height: 1em;
  color: #1b80d4;
  font-weight: 300;
}

.idepCinzaGrande {
  font-style: normal;
  font-weight: normal;
  font-size: 5em;
  line-height: 1em;
  color: #828282;
}

.textoPeqCinza {
  font-style: normal;
  font-weight: normal;
  font-size: 1em;
  line-height: 1em;
  color: #828282;
}

.backGroundCustom {
  background: rgba(27, 128, 212, 0.5);
}

.textoAzulNegritoItalico {
  font-style: italic;
  font-weight: bold;
  font-size: 1.5em;
  line-height: 1em;
  align-items: center;
  float: right;
  color: #1b80d4;
}

.divComFundoAzul {
  height: 7em;
  background: rgba(27, 128, 212, 0.5);
}

.fonteBrancaGrande {
  font-style: normal;
  font-size: 3em;
  line-height: 2em;
  height: 1em;
  color: #ffffff;
  text-align: left;
}

.fundoAzulEscuro {
  background: #1b80d4;
}

.labelGrandeAmarelo {
  font-size: 2em;
  color: #ffbc0a;
  font-weight: 300;
}

.headerBrancoItalico {
  font-style: italic;
  font-weight: bold;
  font-size: 2em;
  line-height: 1em;
  color: #ffffff;
}

.fontePeqBranca {
  font-size: 1em;
  line-height: 1em;
  color: #ffffff;
}

.iconePeq {
  height: 6.5em;
  width: 6.5em;
  float: right;
}

@media (max-width: 400px) {
  .iconePeq {
    float: none;
  }
}

.iconeSeta {
  height: 7em;
  width: 23em;
  float: left;
}

.borda-amarela {
  border: 4px solid #ffbc0a;
  box-sizing: border-box;
  border-color: coral;
  border-radius: 4px;
}
