body {
  font-family: Roboto;
}

.hrCinza {
  /* width: 658px;
  height: 5.81px; */
  line-height: 23px;
  color: #c4c4c4;
}

.backNormal {
  background: rgb(255, 255, 255);
}

.bigX {
  font-weight: 300;
  font-size: 64px;
  line-height: 128.91%;
  /* or 82px */

  display: flex;
  align-items: center;
  text-align: center;

  color: #d3d3d3;
}

/* footer... */

.bg-cinza-escuro {
  background: #5a5a5a;
}

.fonte-doze {
  font-size: 12px;
  line-height: 14px;
}

.area-rodape .form-group .rounded-pill {
  border-radius: 10px !important;
}

@media (max-width: 575.98px) {
  .mb-xs-4 {
    margin-bottom: 1.5rem !important;
  }
}

.label-header-branco {
  font-family: Roboto;
  font-style: italic;
  font-weight: bold;
  font-size: 26px;
  align-items: center;

  color: #ffffff;
}

.label-peq-branco {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  /* line-height: 22px; */
  color: #ffffff;
}

/* NOVOOO */
.card-titulo {
  font-style: normal;
  font-weight: bold;
  font-size: 1.5em;
  color: #1b80d4;
}

.idep-azul-grande {
  font-style: normal;
  font-weight: 900;
  font-size: 6em;
  line-height: 1em;
  color: #1b80d4;
}
.texto-azul-medio {
  font-style: normal;
  font-weight: 900;
  font-size: 3em;
  line-height: 1em;
  color: #1b80d4;
  font-weight: 300;
}

.texto-cinca-grande {
  font-style: normal;
  font-weight: normal;
  font-size: 5em;
  line-height: 1em;
  color: #828282;
}

@media (max-width: 575.98px) {
  .texto-cinca-grande {
    font-size: 4em;
  }
}

.texto-pequeno-cinza {
  font-style: normal;
  font-weight: normal;
  font-size: 1em;
  line-height: 1em;
  color: #828282;
}

.bg-azul-escuro {
  background: rgba(27, 128, 212, 0.5);
}

.txt-ng-it {
  font-style: italic;
  font-weight: bold;
  font-size: 1.5em;
  line-height: 1em;
  align-items: center;
  float: right;
  color: #1b80d4;
}

.div-fd-azl {
  height: 7em;
  background: rgba(27, 128, 212, 0.5);
  text-align: left;
}

.txt-gd-brc {
  font-style: normal;
  font-size: 3em;
  line-height: 2em;
  height: 1em;
  color: #ffffff;
  font-weight: 300;
  text-align: left;
  text-transform: uppercase;
}

.fd-azl-esc {
  background: #1b80d4;
}

.lbl-gd-amr {
  font-size: 2em;
  color: #ffbc0a;
  font-weight: 300;
}

.hd-bc-it {
  font-style: italic;
  font-weight: bold;
  font-size: 1.5em;
  line-height: 1em;
  color: #ffffff;
}

.ft-pq-bc {
  font-size: 1em;
  line-height: 1em;
  color: #ffffff;
}

.ic-pq {
  height: 6.5em;
  width: 6.5em;
  float: right;
}

@media (max-width: 400px) {
  .ic-pq {
    float: none;
  }
}

.ic-seta {
  height: 7em;
  width: 23em;
  float: left;
}

@media (max-width: 500px) {
  .ic-seta {
    height: 5em;
    width: 15em;
  }
}

.borda-amarela {
  border: 4px solid #ffbc0a;
  box-sizing: border-box;
  border-color: coral;
  border-radius: 4px;
}

.imagem-principal {
  width: 90%;
  height: 90%;
}

.button-fixed-width {
  width: 8em;
}

.big-button {
  font-size: 2.5em;
}
