.blueFont {
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  color: #1b80d4;
}

.whiteFont {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  color: #ffffff;
}

body {
  font-family: Roboto;
  background: linear-gradient(180deg, #6eade7 0%, #d7ecff 100%);
}

html {
  height: 100%;
}

hr {
  background-color: white;
  height: 2px;
  border: 4px;
}
