.blueFont {
    color: #1B80D4;
    font-size: 26px;
    font-style: normal;
    font-weight: bold;
}

.whiteFont {
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: bold;
}

* {
    font-family: 'Roboto', sans-serif;
}

html {
    height: 100%;
}

hr {
    background-color: #FFF;
    height: 2px;
    border: 4px;
}

.container,
.row.justify-content-center.align-items-center {
    height: 100%;
    min-height: 100%;
}
